h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 0.5;
}
h2,
h3 {
  font-variant: small-caps;
  font-size: 22pt;
}

body {
  background-color: #ffe5b4;
  animation: changeColor 3s infinite;
}

header {
  grid-column: 1/4;
}

.profile {
  width: 20%;
  height: auto;
  border: 2px solid #000;
}

/*
.profile:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.2);
}
*/
.image {
  text-align: center;
  margin: 20px;
}

/* used chat gpt to align the frame to the middle */

.frame1 {
  background-color: #fff;
  width: 300px;
  padding: 10px;
  border: 2px solid #000;
  margin: 0 auto;
  margin-bottom: 20px;
}

.frame2 {
  background-color: #fff;
  width: 800px;
  padding: 20px;
  border: 2px solid #000;
  margin: 0 auto;
}

.frame3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1;
  grid-template-areas: "pic1 pic2 pic3 pic4 pic5";
  grid-gap: 1vh;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: justify;
}

ul {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

span {
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

form label,
input {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.box {
  border: 1px solid #000;
  border-radius: 5px;
}

.bigbox {
  width: 400px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 5px;
}

.banksy {
  width: auto;
  height: 100px;
  grid-area: pic1;
  border: 1px solid #000;
}

.ju {
  height: 100px;
  width: auto;
  grid-area: pic2;
  border: 1px solid #000;
}

.bison {
  height: 100px;
  width: auto;
  grid-area: pic3;
  border: 1px solid #000;
}

.flyer {
  height: 100px;
  width: auto;
  grid-area: pic4;
  border: 1px solid #000;
}

.salmon {
  height: 100px;
  width: auto;
  grid-area: pic5;
  border: 1px solid #000;
}

.banksy1 {
  height: 400px;
  width: auto;
  border: 1px solid #000;
}

/*
.banksy:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.5);
}
*/

#image {
  transition: transform 0.5s ease-in-out;
}

@keyframes changeColor {
  0% {
    background-color: #ffe5b4;
  }

  33% {
    background-color: #ff8c00;
  }

  66% {
    background-color: #ff5470;
  }

  100% {
    background-color: #ffe5b4;
  }
}
